.testi-heading {
  text-align: center;
  width: 100%;
}

.testi-heading h1 {
  font-size: 35px;
  line-height: 50px;
  font-weight: 500;
  padding-bottom: 20px;
}

.testi-heading p {
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 60px;
}

.testi-row-card {
  margin-bottom: 60px;
}


.testi-card {
  margin-left: 337px;
  margin-right: -290px;
  width: 450px;
  height: 250px;
  border: 2px solid #dddddd;
  border-radius: 10px;
  padding: 30px;
}

.testi-card-heading {
  display: flex;
  margin-bottom: 20px;
}

.testi-name {
  margin: 0 108px 0 20px;
}

.testi-name h1 {
  font-size: 18px;
  font-weight: 500;
}

.testi-name span {
  color: #4f5665;
  font-size: 14px;
  font-weight: 400;
}

.rating {
  display: flex;
  align-items: center;
}

.rating p {
  margin-right: 11px;
}

.testi-card-body {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

/*end testi*/

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testi-tab {
  display: flex;
  width: 1090px;
}

.testi-tab li {
  background-color: #dde0e4;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  list-style: none;
}

.testi-tab li.dot {
  margin: 0 15px;
}

.testi-tab li.active {
  background-color: #f53838;
  width: 45px;
  border-radius: 15px;
  margin-right: 15px;
}

.testi-tab-arrow-btn {
  display: flex;
}

.testi-tab-arrow-btn .arrowbtn1 {
  background: url(/left.png) no-repeat center #ffffff;
  border: 1px solid #f53855;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.15s;
}

.testi-tab-arrow-btn .arrowbtn2 {
  background: url(/right.png) no-repeat center #ffffff;
  border: 1px solid #f53855;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 20px;
  transition: 0.15s;
}

.testi-tab-arrow-btn .arrowbtn1:active {
  background: url(/hover-left.png) no-repeat center #f53838;
}

.testi-tab-arrow-btn .arrowbtn2:active {
  background: url(/hover-right.png) no-repeat center #f53838;
}
