.highlightContainer {
  display: flex;
  align-items: center;
  margin-top: 100px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 6%);
  padding: 0 90px;
}

.itemContainer {
  display: flex;
  align-items: center;
  padding-right: 130px;
  margin-right: 90px;
  border-right: 2px solid #eeeff2;
  height: 125px;
}

.itemContainer:last-child {
  margin-right: 0px;
  border-right: unset;
  padding-right: 0px;
}

.itemContainer > [data-description] {
  font-size: 20px;
  margin-left: 36.5px;
  color: var(--greyColor);
}

.itemContainer > [data-description] > [data-total] {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 5px;
  color: black;
}
