@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";



* {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  /* background-color: #F6F6F6; */
}

a{
  color: inherit;
  text-decoration: none;
}

/* ===== DOT SLICK ===== */
.button__bar {
  margin-top: 80px;
  margin-right: -150px;
  width: 100%;
  padding: 0;
  float: right;
}

.button__bar li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin-right: 15px;
  padding: 0;
}

.button__bar li button {
  border: none;
  background: #DDE0E4;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  outline: 0;
  transition: 0.3s
}

.button__bar li.slick-active button {
  background-color: #F53838;
  height: 15px;
  width: 35px;
  outline: 0;
}


