@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
    font-family:  'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F6F6;
}

.container {
    width: 1390px;
    margin: auto;
}

/*Navbar*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
}

nav a {
    text-decoration: none;
    color: #4F5665;
}

nav .link-sm {
    color: #0B132A;
    font-weight: 500;
    padding-right: 30px;
}

nav .link-sm:active{
    color: #F53855;

}


.nav-links{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

.nav-links :hover{
    color: #F53855;
}

button.cta-red {
    background-color: transparent;
    padding: 13px 45px;
    border: 1px solid #F53855;
    border-radius: 50px;
    color: #F53855;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

button.cta-red:hover{
    background-color: #f0ebeb;
}

button.cta-red:active{
    background-color: #F53838;
    color: #ffffff;
    transition: 0.2s;
}

button.btn-secondary{
    margin-top: 50px;
    background-color: #F53838;
    box-shadow: 0px 20px 40px -12px rgb(245, 56, 56);
    filter: blur(54);
    padding: 17px 77px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

button.btn-secondary:active{
    transform: scale(0.98);
    box-shadow: 0px 5px 20px 1px rgba(245, 56, 56);
    transition: 0.07s;
}



/*Hero*/
section.hero{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

img.illustration-hero {
    padding: 103px 0px;
}

.column-text-heading {
    width: 50%;
    padding-top: 125px;
}

h1.hero-heading {
    font-size: 55px;
    font-weight: 500;
    line-height: 70px;
}

.hero-heading span{
    font-weight: 700;
}

p.text-p {
    margin-top: 20px;
    font-size: 17px;
    color: #4F5665;
    line-height: 30px;
}

/*Features*/

.features {
    height: 200px;
    background-color: #ffffff;
    box-shadow: 0px 71px 60px -70px rgba(13,16,37,0.32);
    border-radius: 10px;
}

.row-column{
    width: 100%;
    padding: 37px 91px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.column{
    display: flex;
    align-items: center;
    padding: 0 90px;
    padding-right: 50px;
    margin: auto;
}

.img-1 {
    padding-left: 20px;
    padding-right: 30px;
}

.text-col {
    margin-left: 25px;
    margin-right: 100px;
}

.text-col p {
    margin-top: 5px;
    color: #4F5665;
}

/*Wrapper*/
 
.wrapper{
    margin-top: 95px;
    margin-bottom: 129px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.text-wrapper{
    margin-left: 169px;
    margin-right: 150px;
}

.text-wrapper h1{
    color: #0B132A;
    line-height: 50px;
    font-size: 37px;
    font-weight: 500;
}

.text-info{
    color: #4F5665;
    line-height: 30px;
    font-size: 17px;
    font-weight: 400;
    padding: 20px 0;
}

.wrapper-feature p{
    padding: 15px 0;
    display: flex;
    color:#4F5665;
    font-size: 16px;
    font-weight: 400;
    
}

.wrapper-feature p img{
    margin-right: 12px;
}



