.template {
  scroll-behavior: smooth;
  padding: 0 150px;
  margin: 0 auto;
  width: 1366px;
}

.container {
}

/* ========== Header Wrap ========== */
.headerWrap {
  position :fixed;
  top: 0;
  z-index: 10;
  background-color: #FFFFFF;
}

.headerLeft {
  float: left;
  padding-top: 50px;
}

.headerRight {
  float: right;
  /* padding-right: 150px; */
  padding-top: 45.62px;
}

.headerRight a {
  padding-left: 40px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #4F5665;
}

.headerRight a:hover {
  color: #F53855;
}

.headerRight .SignIn {
  width: 150px;
  height: 45px;
  color: #0B132A;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  background-color: #FFFFFF;

  border: none;
  box-sizing: border-box;
  border-radius: 50px;
  margin-left: 60px;
}

.headerRight .SignIn:focus {
  color: #F53855;
  border: 1px solid #F53855;
  outline: none;
}

.headerRight .SignUp {
  width: 150px;
  height: 45px;
  color: #0B132A;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  background-color: #FFFFFF;

  border: none;
  box-sizing: border-box;
  border-radius: 50px;
}

.headerRight .SignUp:focus {
  color: #F53855;
  border: 1px solid #F53855;
  outline: none;
}

/* ====== About Wrap ====== */
.aboutWrap {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 159.11px;
}

.aboutLeft {
  width: 555px;
}

.aboutRight img{
  width: 611.24px;
  height: 382.44px;
}

.aboutLeft h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
}

.aboutLeft p {
  margin: 20px 0 50px 0;
  font-size: 16px;
  line-height: 30px;
}

.aboutLeft .btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;

  background-color: #F53838;
  border: none;
  border-radius: 10px;
  width: 250px;
  height: 60px;
  outline:none;
}

.aboutLeft span {
  font-weight: bold;
}

/* ========== Detail Wrap ========== */
.detailWrap {
  position: absolute;
  width: 1140px;
  height: 200px;
  left: 150px;
  top: 664.55px;
  background: #FFFFFF;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
}

.detailWrap h1 {
  width: 49px;
  height: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
}

.detailWrap p {
  width: 54px;
  height: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #4F5665;
}

.detailWrap img {
  width: 55px;
  height: 55px;
}

.users {
  width: 380px;
  display: flex;
  flex-direction: row;
}

.locations {
  width: 380px;
  display: flex;
  flex-direction: row;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.server {
  width: 380px;
  display: flex;
  flex-direction: row;
}

/* ========== Features Wrap ========== */
.featuresWrap {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 900px;
}

.featuresLeft {
  margin-right: 63px;
}

.featuresRight {
}

.featuresLeft img {
  width: 508px;
  height: 414px;
}

.featuresRight h1 {
  font-size: 35px;
  line-height: 50px;
  width: 383.41px;
  height: 100px;
  color: #0B132A;
}

.featuresRight p {
  font-size: 16px;
  line-height: 30px;
  height: 60px;
  width: 427.88px;
}

.featuresRight li {
  list-style-image: url('/group.png');
  font-size: 14px;
  width: 179px;
  height: 30px;
}

/* ========== Pricing Wrap ========== */
.pricingWrap {
  top: 1380px;
  position: absolute;
  /* width: 100%; */
  padding: 0;
  margin: 0;
  padding-top: 40px;
}

.pricingWrap h1 {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
  height: 50px;
  margin: auto;
}

.pricingWrap p {
  width: 555px;
  height: 60px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4F5665;
  margin: auto;
  margin-bottom: 50px;
}

.pricing {
  display: flex;
  flex-direction: row;
  font-size: 50px;
  text-align: center;
}

.pricing div {
  margin: 0 10px;
  /* padding: 20px; */
  width: 313px;
  /* flex: 33%; */
  border: 3px solid black;
  /* margin-right: 50px; */
  background-color: #FFFFFF;
  border: 2px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 30px;
  /* height: 760px; */
}

.pricing div img {
  opacity: 0.79;
  padding: 79.63px 0 30px 0;
}

.pricing div h1 {
  color: #0B132A;
  height: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.pricing div li {
  color: #4F5665;
  font-size: 14px;
  line-height: 30px;
  list-style: none;
  text-align: left;
  padding-bottom: 10px;
  margin: 0;
  padding: 0;
}

.pricing div h2 {
  color: #0B132A;
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.pricing div button {
  color: #F53838;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  width: 177.88px;
  
  height: 45px;
  background-color: #FFFFFF;
  border: 2px solid #F53838;
  border-radius: 50px;
}

.pricing button:focus {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  width: 177.88px;
  
  height: 45px;
  background-color: #F53838;
  border: 2px solid #F53838;
  outline: none;
}

.pricing div:focus-within {
  padding: 20px;
  flex: 33%;
  border: 3px solid black;
  margin-right: 50px;
  background-color: #FFFFFF;
  border: 2px solid #F53838;
  box-sizing: border-box;
  border-radius: 10px;
  /* height: 760px; */
}

/* ========== TestimonialsWrap ========== */
.testimonialsWrap {
  position: absolute;
  top: 2420px;
  padding: 0;
  margin: 0;
}

.testimonialsWrap h1 {
  width: 383px;
  height: 100px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
  margin: auto;
}

.testimonialsWrap p {
  width: 555px;
  height: 60px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4F5665;
  margin: auto;
  margin-bottom: 50px;
}

.testimonialsWrap span {
  font-weight: bold;
}

.testimonialsWrap img {
}

.imgGlobal {
  width: 1000px;
  height: 477.77px;
}

.testimonialsWrap ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.testimonialsWrap li {
}

.imgTesti {
  width: 190px;
  height: 60px;
}

/* ========== Slider Wrap ========== */
.sliderWrap {
  position: absolute;
  top: 3700px;
  width: 1066px;
}

.sliderWrap h1 {
  font-weight: 500;
  width: 447px;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
  margin: auto;
  padding-bottom: 20px;
}

.sliderWrap p {
  width: 555px;
  height: 60px;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4F5665;
  margin: auto;
}

/* ========== Subscribe Wrap ========== */
.subscribeWrap {
  background-color: #FFFFFF;
  position: absolute;
  top: 4509px;
  display: flex;
  flex-direction: row;
  width: 1140px;
  height: 233px;
  border-radius: 10px;
  z-index: 1;
  /* padding: 0 150px; */
}

.subscribeWrap div {
  flex: 50%;
  padding: 58px 70px;
}

.subscribeWrap h1 {
  width: 371px;
  height: 80px;
  font-weight: 500;
  line-height: 45px;
  font-size: 35px;
  color: #0B132A;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.subscribeWrap p {
  width: 410px;
  height: 16px;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  font-weight: normal;
  align-items: center;
}

.subscribeWrap button {
  width: 120px;
  height: 25px;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;

  background-color: #F53838;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin: 85px 70px;
}

/* ========== Footer ========== */
.footerWrap {
  position: absolute;
  width: 1440px;
  height: 563.12px;
  left: 0px;
  top: 4625.78px;
  background: #F8F8F8;
  padding: 0 150px;
}

.footerAbout {
  position: absolute;
  top: 180px;
}

.footerAbout img {
  width: 148px;
  height: 36.23px;
}

.footerAbout h1 {
  width: 340px;
  height: 61.57px;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;;
}

.footerAbout h1 span {
  font-weight: 500;
}

.footerAbout p {
  width: 132px;
  height: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #AFB5C0;
}

.footerAbout p span {
  font-weight: 500;
}

.footerAbout ul {
  list-style: none;
}

.footerAbout ul img {
  width: 33.6px;
  height: 33.6px;
  float: left;
}

.footerProduct {
  position: absolute;
  top: 180px;
  left: 700px; 
}

.footerEngage {
  position: absolute;
  top: 180px;
  left: 900px; 
}

.footerEarn {
  position: absolute;
  top: 180px;
  left: 1149px; 
}

/* ========== Responsive ========== */
/* @media all and (max-width: 1000px) {
  .container {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
  }

  .headerWrap {
    padding-left: 20px;
  }

  .headerRight {
    display: none;
  }

  .aboutWrap {
    flex-direction: column;
  }

  .aboutLeft {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .aboutRight {
    margin-top: 30px;
  }

  .detailWrap {
    position: absolute;
    top: 900.55px;
    height: 200px;
    width: 100%;
  }
  
  .featuresWrap {
    flex-direction: column;
    width: 100%;
  }

  .featuresLeft {
  }

  .featuresRight {
  }
  
  .pricingWrap {
    margin-top: 210px;
    width: 100%;
  }

  .pricing {
    flex-direction: column;
    margin-top: 0;
  }

  .pricing div {
    margin: 10px;
  }

  .testimonialsWrap ul {
    flex-direction: column;
  }

  .subscribeWrap {
    flex-direction: column;
  }

} */





/* ============================================================================== */
/* .about .btnshadow {
  width: 211.83px;
  height: 60px;
  left: 169.09px;
  top: 502.06px;

  background: rgba(245, 56, 56, 0.35);
  filter: blur(24px);
  border-radius: 10px;
  border: none;

} */



/* .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
