.testi-heading  {
    text-align: center;
    width: 100%;
}

.testi-heading h1 {
    font-size: 35px;
    line-height: 50px;
    font-weight: 500;
    padding-bottom: 20px;
}

.testi-heading p {
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 60px;
}

.testi-row-card {
    margin-bottom: 60px;
}

.testi-card {
    width: 100%;
    height: 250px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 30px;
}

.testi-card-heading {
    display: flex;
    margin-bottom: 20px;
}

.testi-name {
    margin: 0 108px 0 20px;
}

.testi-name h1 {
    font-size: 18px;
    font-weight: 500;

}

.testi-name span {
    color: #4F5665;
    font-size: 14px;
    font-weight: 400;
}

.rating {
    display: flex;
    align-items: center;
}

.rating p {
    margin-right: 11px;
}

.testi-card-body {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}
 
/*end testi*/

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testi-tab {
    display: flex;
    width: 1090px;
    
}

.testi-tab li {
    background-color: #DDE0E4;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    list-style: none;
}

.testi-tab li.dot {
    margin: 0 15px;
}

.testi-tab li.active {
    background-color: #F53838;
    width: 45px;
    border-radius: 15px;
    margin-right: 15px;
}

.testi-tab-arrow-btn {
    display: flex;
}

.testi-tab-arrow-btn .arrowbtn1 {
    background: url(/left.png) no-repeat center #ffffff;
    border: 1px solid #F53855;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.testi-tab-arrow-btn .arrowbtn2 {
    background: url(/right.png) no-repeat center #ffffff;
    border: 1px solid #F53855;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
}

.testi-tab-arrow-btn .arrowbtn1:active {
    background: url(/hover-left.png) no-repeat center #F53838;
}

.testi-tab-arrow-btn .arrowbtn2:active {
    background: url(/hover-right.png) no-repeat center #F53838;
}
