.menuContainer {
  margin-top: 45px;
  display: flex;
  align-items: center;
}

.pathList {
  margin-left: 158px;
  margin-right: 150px;
}

.pathList > a {
  margin-right: 40px;
  color: var(--greyColor);
}

.pathList > a:last-child {
  margin-right: 0px;
}

.actionContainer {
  display: flex;
  align-items: center;
}

.signInButton {
  font-weight: 500;
}

.signUpButton {
  width: 150px;
  height: 45px;
  border-radius: 45px;
  border: solid 1px;
  font-weight: 500;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primaryColor);
}
